<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.travel.demo.users.model.mapper.PasswordResetTokenMapper">

    <insert id="saveToken" parameterType="com.travel.demo.users.entity.PasswordResetToken">
        INSERT INTO password_reset_tokens (token, user_email, expiry_date)
        VALUES (#{token}, #{userEmail}, #{expiryDate})
    </insert>

    <select id="findByToken" parameterType="String" resultMap="PasswordResetTokenResultMap">
        SELECT token, user_email, expiry_date
        FROM password_reset_tokens
        WHERE token = #{token}
    </select>

    <delete id="deleteToken" parameterType="String">
        DELETE FROM password_reset_tokens WHERE token = #{token}
    </delete>

    <resultMap id="PasswordResetTokenResultMap" type="com.travel.demo.users.entity.PasswordResetToken">
        <id property="token" column="token"/>
        <result property="userEmail" column="user_email"/>
        <result property="expiryDate" column="expiry_date"/>
    </resultMap>

</mapper>
