<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.travel.demo.users.model.mapper.VerificationTokenMapper">

    <insert id="saveToken" parameterType="com.travel.demo.users.entity.VerificationToken">
        INSERT INTO verification_tokens (token, user_email, expiry_date)
        VALUES (#{token}, #{userEmail}, #{expiryDate})
    </insert>

    <select id="findByToken" parameterType="String" resultMap="VerificationTokenResultMap">
        SELECT * FROM verification_tokens WHERE token = #{token}
    </select>

    <delete id="deleteToken" parameterType="String">
        DELETE FROM verification_tokens WHERE token = #{token}
    </delete>
<resultMap id="VerificationTokenResultMap" type="com.travel.demo.users.entity.VerificationToken">
        <id property="token" column="token"/>
        <result property="userEmail" column="user_email"/>
        <result property="expiryDate" column="expiry_date"/>
    </resultMap>
</mapper>